<html>

    <head>
        <title>Sistema de Controle de Tickets</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        />
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        ></script>
    </head>

    <body>
        <center>

            <h1> Sistema de Controle de Tickets </h1>

            <br />

            <a href="/ticketCreate">
                <button class="btn btn-primary">Cadastrar ticket</button>
            </a>

            <a href="/getTickets">
                <button class="btn btn-primary">Listar tickets</button>
            </a>

            {{#if admin}}
                <a href="/adminUserCreate">
                    <button class="btn btn-primary">Cadastrar usuário</button>
                </a>

                <a href="/getUsers">
                    <button class="btn btn-primary"> Listar usuários</button>
                </a>
            {{/if}}
            <a href="/categoryCreate">
                <button class="btn btn-primary"> Cadastrar categoria</button>
            </a>

            <a href="/getCategories">
                <button class="btn btn-primary"> Listar categorias</button>
            </a>

            <a href="/logout">
                <button class="btn btn-primary"> Logout</button>
            </a>
            <br />
            <br />
            {{{body}}}
        </center>
    </body>

</html>