<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
            <tr>
                <th scope="row">{{name}}</th>
                <td><a href="categoryUpdate/{{id}}">Editar</a></td>
                <td><a href="categoryDelete/{{id}}">Deletar</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>