<form
    action="/categoryCreate"
    style="display: flex; flex-direction: column; max-width: 350px"
    method="POST"
>
    <div class="form-group">
        <label
            for="nameInput"
            style="display: flex; width: 100%; align-items:start"
        >Nome: </label>
        <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="nameInput"
            name="name"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>