<form
    action="/ticketCreate"
    method="POST"
    style="display: flex; flex-direction: column; max-width: 350px"
>
    <div class="form-group">
        <label
            for="titleInput"
            style="display: flex; width: 100%; align-items:start"
        >Titulo:</label>
        <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="titleInput"
            name="title"
        />
    </div>
    <div class="form-group">
        <label
            for="descriptionInput"
            style="display: flex; width: 100%; align-items:start"
        >Descrição:</label>
        <input
            autocomplete="off"
            type="text"
            class="form-control"
            id="descriptionInput"
            name="description"
        />
    </div>
    <div class="form-group">
        <label
            for="categoryInput"
            style="display: flex; width: 100%; align-items:start"
        >Categoria:</label>
        <select class="form-select" id="categoryInput" name="category_id">
            {{#each categories}}
                <option value={{id}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <input autocomplete="off" type="hidden" name="user_id" value={{userId}} />

    <br />
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>