<form
    action="/ticketUpdate"
    method="POST"
    style="display: flex; flex-direction: column; max-width: 350px"
>

    <input type="hidden" name="id" value={{ticket.id}} />

    <div class="form-group">
        <label
            for="observationInput"
            style="display: flex; width: 100%; align-items:start"
        >Observação:</label>
        <input
            type="text"
            class="form-control"
            id="observationInput"
            name="observation"
            value="{{ticket.observation}}"
        />
    </div>
    <div class="form-group">
        <label
            for="categoryInput"
            style="display: flex; width: 100%; align-items:start"
        >Status:</label>
        <select class="form-select" value="{{ticket.status}}">
            <option value="Não resolvido">Não resolvido</option>
            <option value="Capturado">Capturado</option>
            <option value="Concluido">Concluído</option>
        </select>
    </div>
    <div class="form-group">
        <label
            for="categoryInput"
            style="display: flex; width: 100%; align-items:start"
        >Técnico:</label>
        <input class="form-control" type="number" min="1" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>